---
title: "Letters of Love - Changemakers"
profile_index: 0
question_keys: ['age', 'school', 'location', 'work', 'matter', 'why?']
questions: ["Age", "School", "Location", "Work at Letters of Love", "What matters to you", "Why are you part of this?"]
---

<div class="static-page" id="js-changemakers">
  <%= partial 'layouts/navbar_static' %>
  <div class="static-content">

    <div class="details-dummy-nav"></div>
    <div class="static-header">
      <h1>Wall of Change</h1>
    </div>
    <div class="changemakers-grid col-xs-11 col-sm-11 col-md-10 col-xl-8">
      <% data.changemakers.each_with_index do |change, index| %>
          <div class="profile" data-flip-key="<%=index%>">
            <% if change.image_url.length > 0 %>
              <div class="profile-image" data-flip-key="<%=index%>" style="background-image: url('<%= change.image_url %>');"></div>    
            <% else %>
              <div class="profile-image placeholder" data-flip-key="<%=index%>" style="background-image: url('images/logo.png');"></div>
            <% end%>
            <div class="profile-info">
              <h4 class="profile-name"><%= change.name %></h4>
              <% if change.article_url.length > 0 %>
                 <% link_to "#{change.article_url}", target: "_blank", class: "cta" do %>
                  Learn more
                <% end %>       
              <% else %>
                  <button data-profile-index="<%=index%>" class="btn cta js-profile-btn">Learn more</button>
              <% end%>
            </div>
          </div>
      <% end %>
    </div>

    <%# this is the profile details popup %>
    <%# when you click the ".js-profile-button" above, we should grab the index of the profile and update the "profile_index" variable %>

    <div class="details-wrapper js-details-overlay hidden">
      <div class="details-dummy-nav"></div>
      <div class="details col-xs-12 col-sm-11 col-md-10 col-xl-8">
        <div class="details-header js-details-header">
          <button class="details-header-btn cta">BACK</button>
        </div>
        <div class="details-content">
          <div class="details-profile col-xs-12 col-sm-6 col-md-3 col-xl-3">
            <div class="details-profile-image details-profile-item js-profile-item" style="background-image: url('<%= data.changemakers[current_page.data.profile_index].image_url %>');"></div>
            <div class="details-profile-info details-profile-item js-profile-item">
              <h2 class="details-profile-name"><%= data.changemakers[current_page.data.profile_index].name %></h2>
            </div>
          </div>
          <div class="details-qa col-xs-12 col-sm-12 col-md-9 col-xl-9">
            <% current_page.data.question_keys.each_with_index do |question, index| %>
              <div class="details-paragraph inactive js-qa-item"> 
                <div class="details-paragraph-question"><%=  current_page.data.questions[index] %></div>
                <div class="details-paragraph-answer">
                  <%= data.changemakers[current_page.data.profile_index][question] %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        </div>
    </div>
  
  </div>
</div>