---
title: "Letters of Love - Student Ambassadors"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header">
      <h2>Meet our Student Ambassadors</h2>
<!--       <h4>sub-header</h4> -->
    </div>
    <div class="static-video-block">
      <div class="video-component col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-xl-4 col-xl-offset-4">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Givp7SShB-I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="line-margin"></div>
    <div class="team-list">
      <% data.students.each do |student| %>
      <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
        <div class="center-cropped"
             style="background-image: url('<%= student.picture %>');">
        </div>
        <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
          <h4><%= student.name %></h4>
          <p class="member-description"><%= student.description %></p>
          <% link_to "#{student.link}", target: "_blank", class: "student-link" do %>
              <p>Read more</p>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
