 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header">
      <h2>Meet the Team</h2>
      <h4>Get to know us</h4>
    </div>
    <div class="team-list">
      <% data.team.each do |member| %>
      <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
        <div class="team-photo" style="background-image: url(<%= member.picture %>);"></div>
        <div class="team-description">
          <h4><%= member.name %></h4>
          <p class="member-role"><%= member.role %></p>
          <p class="member-description"><%= member.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
