---
title: "Letters of Love - Team"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header">
      <h2>Meet the Team</h2>
      <h4>Get to know us</h4>
    </div>
    <div class="team-tabs">
      <a class="team-tab" data-section="directors">
        <p>Board of Directors</p>
      </a>
      <a class="team-tab" data-section="leadership">
        <p>Leadership</p>
      </a>
      <a class="team-tab active" data-section="team">
        <p>Team</p>
      </a>
    </div>
    <div class="team-list">
      <!-- DIRECTORS -->
      <% @pooja = data.team.first %>
      <div class="team-show-details" data-section="directors">
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= @pooja.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= @pooja.name %></h4>
              <p class="member-role"><%= @pooja.role %></p>
              <p class="member-description"><%= @pooja.description %></p>
              <a class="team-button"data-toggle="collapse" href="#collapse<%= @pooja.name[0] %>" role="button" aria-expanded="false" aria-controls="collapse<%= @pooja.name[0] %>">Read more</a>
              <div class="collapse" id="collapse<%= @pooja.name %>">
                <div class="member-description member-description-extended">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- LEADERSHIP -->
      <div class="team-show-details" data-section="leadership">
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= @pooja.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= @pooja.name %></h4>
              <p class="member-role"><%= @pooja.role %></p>
              <p class="member-description"><%= @pooja.description %></p>
              <a class="team-button"data-toggle="collapse" href="#collapse<%= @pooja.name[0] %>" role="button" aria-expanded="false" aria-controls="collapse<%= @pooja.name[0] %>">Read more</a>
              <div class="collapse" id="collapse<%= @pooja.name %>">
                <div class="member-description member-description-extended">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- TEAM -->
      <div class="team-show-details" data-section="team">
        <% data.team.each do |member| %>
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= member.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= member.name %></h4>
              <p class="member-role"><%= member.role %></p>
              <p class="member-description"><%= member.description %></p>
             <!--  <a class="team-button"data-toggle="collapse" href="#collapse<%#= member.name[0] %>" role="button" aria-expanded="false" aria-controls="collapse<%#= member.name[0] %>">Read more</a>
              <div class="collapse" id="collapse<%#= member.name[0] %>">
                <div class="member-description member-description-extended">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
              </div> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
