---
title: "Letters of Love - Team"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <div class="team-header-no-underline">
      <h2>Meet the Team</h2>
    </div>
    <div class="team-tabs">
      <a class="team-tab active" data-section="leadership">
        <p>Leadership</p>
      </a>
      <a class="team-tab" data-section="team">
        <p>Team</p>
      </a>
      <a class="team-tab" data-section="directors">
        <p>Board of Directors</p>
      </a>
    </div>
    <div class="team-list">
      <!-- LEADERSHIP -->
      <div class="team-show-details" data-section="leadership">
        <% data.leadership.each do |leader| %>
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= leader.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= leader.name %></h4>
              <p class="member-role"><%= leader.role %></p>
              <p class="member-description"><%= leader.description %></p>
              <a class="team-button" data-toggle="collapse" href="#collapse<%= leader.name.split.first + leader.position %>" role="button" aria-expanded="false" aria-controls="collapse<%= leader.name.split.first + leader.position %>">Read more</a>
              <div class="collapse" id="collapse<%= leader.name.split.first + leader.position %>">
                <div class="member-description member-description-extended">
                  <%= leader.long_description %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- TEAM -->
      <div class="team-show-details hidden" data-section="team">
        <% data.team.each do |member| %>
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= member.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= member.name.split.first %></h4>
              <p class="member-role"><%= member.role %></p>
              <p class="member-description"><%= member.description %></p>
              <a class="team-button" data-toggle="collapse" href="#collapse<%= member.name.split.first + member.position %>" role="button" aria-expanded="false" aria-controls="collapse<%= member.name.split.first + member.position %>">Read more</a>
              <div class="collapse" id="collapse<%= member.name.split.first + member.position %>">
                <div class="member-description member-description-extended">
                  <%= member.long_description %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <!-- DIRECTORS -->
      <div class="team-show-details hidden" data-section="directors">
        <% data.directors.each do |director|  %>
          <div class="team-list-item col-xs-12 col-sm-12 col-md-10 col-xl-8">
            <div class="center-cropped"
                 style="background-image: url('<%= director.picture %>');">
            </div>
            <div class="team-description col-xl-8 col-md-8 col-sm-8 col-xs-10">
              <h4><%= director.name %></h4>
              <p class="member-role"><%= director.role %></p>
              <p class="member-description"><%= director.description %></p>
              <a class="team-button" data-toggle="collapse" href="#collapse<%= director.name.split.first %>" role="button" aria-expanded="false" aria-controls="collapse<%= director.name.split.first %>">Read more</a>
              <div class="collapse" id="collapse<%= director.name.split.first %>">
                <div class="member-description member-description-extended">
                  <%= director.long_description %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= partial 'layouts/footer' %>
</div>
