---
title: "Letters of Love - Team"
---

 <div id="home">
  <%= partial 'layouts/navbar_static' %>
  <div class="team-page">
    <!-- SPOTLIGHT -->
    <div id="spotlight" class="spotlight-container js-spotlight hidden">
      <div class="spotlight-image-container col-xs-12 col-sm-12 col-md-8 col-xl-8">
        <div class="spotlight-image js-spotlight-image"></div>
      </div>  
      <div class="spotlight-content col-xs-12 col-sm-12 col-md-6 col-xl-6">
        <div class="spotlight-header">
          <h2 class="spotlight-name js-spotlight-name"></h2>
          <h4 class="spotlight-role js-spotlight-role"></h4>
        </div>
        <div class="spotlight-paragraph"> 
          <h4 class="spotlight-paragraph-question">Bio</h4>
          <p class="spotlight-paragraph-answer js-spotlight-bio"></p>
        </div>
        <div class="spotlight-paragraph"> 
          <h4 class="spotlight-paragraph-question">Why Letters</h4>
          <p class="spotlight-paragraph-answer js-spotlight-testimonial"></p>
        </div>
      </div>
    </div>

    <div class="team-header-no-underline">
      <h2>Meet the Team</h2>
    </div>
    <div class="team-tabs">
      <a class="team-tab active" data-section="leadership">
        <p>Leadership</p>
      </a>
      <a class="team-tab" data-section="team">
        <p>Team</p>
      </a>
      <a class="team-tab" data-section="directors">
        <p>Board of Directors</p>
      </a>
    </div>
    <div class="team-list">
      <!-- LEADERSHIP -->
      <div class="team-show-details col-xs-12 col-sm-12 col-md-10 col-xl-8" data-section="leadership" >
        <% data.team_new.each do |member, index| %>
          <% if member.department === "leadership" %>
            <div class="team-card js-team-card">
              <% if member.picture && member.picture.length > 0 %>
                <div class="team-card-image-container">
                  <img class="team-card-image" src="<%= member.picture %>" />
                </div>
              <% else %>
                <div class="team-card-image-container">
                  <img class="team-card-image placeholder" src="images/logo.png" />
                </div>
              <% end%>
              <div class="team-card-details">
                <h4 class="team-card-name"><%= member.name %> <%= member.surname %></h4>
                <p class="team-card-role"><%= member.title %></p>
                <button 
                  data-member-index="<%=index%>" 
                  data-name="<%=member.name%>" 
                  data-surname="<%=member.surname%>" 
                  data-team-category="leadership" 
                  class="card-button card-button--team js-team-spotlight-show">Learn more
                </button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <!-- TEAM -->
      <div class="team-show-details col-xs-12 col-sm-12 col-md-10 col-xl-8 hidden" data-section="team" >
       <% data.team_new.each do |member, index| %>
          <% if member.department != "leadership" && member.department != "board" %>
            <div class="team-card js-team-card">
              <% if member.picture && member.picture.length > 0 %>
                <div class="team-card-image-container">
                  <img class="team-card-image" src="<%= member.picture %>" />
                </div>
              <% else %>
                <div class="team-card-image-container">
                  <img class="team-card-image placeholder" src="images/logo.png" />
                </div>
              <% end%>
              <div class="team-card-details">
                <h4 class="team-card-name"><%= member.name %> <%= member.surname %></h4>
                <p class="team-card-role"><%= member.title %></p>
                <button 
                  data-member-index="<%=index%>" 
                  data-name="<%=member.name%>" 
                  data-surname="<%=member.surname%>" 
                  data-team-category="leadership" 
                  class="card-button card-button--team js-team-spotlight-show">Learn more
                </button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <!-- DIRECTORS -->
      <div class="team-show-details col-xs-12 col-sm-12 col-md-10 col-xl-8 hidden" data-section="directors" >
        <% data.team_new.each do |member, index| %>
          <% if member.department === "board" %>
            <div class="team-card js-team-card">
              <% if member.picture && member.picture.length > 0 %>
                <div class="team-card-image-container">
                  <img class="team-card-image" src="<%= member.picture %>" />
                </div>
              <% else %>
                <div class="team-card-image-container">
                  <img class="team-card-image placeholder" src="images/logo.png" />
                </div>
              <% end%>
              <div class="team-card-details">
                <h4 class="team-card-name"><%= member.name %> <%= member.surname %></h4>
                <p class="team-card-role"><%= member.title %></p>
                <button 
                  data-member-index="<%=index%>" 
                  data-name="<%=member.name%>" 
                  data-surname="<%=member.surname%>" 
                  data-team-category="leadership" 
                  class="card-button card-button--team js-team-spotlight-show">Learn more
                </button>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

  </div>
  <%= partial 'layouts/footer' %>
</div>
